body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI",sans-serif;
    background-color: #f4f4f4;
    color: #333
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 2rem
}

header {
    text-align: center;
    margin-bottom: 3rem
}

header h1 {
    margin: 0;
    font-size: 2.5rem
}

header p {
    font-size: 1.2rem;
    color: #666
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3.5px solid #3f3f3f;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    display: block;
    margin-left: auto;
    margin-right: auto
}

section {
    margin-bottom: 2rem
}

h2 {
    color: #444;
    margin-bottom: .5rem
}

a:hover {
    text-decoration: underline
}

.skills,.socials {
    margin-bottom: -.6rem
}

.skills ul,.socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap
}

.skills i,.socials i {
    margin-right: 12px;
    vertical-align: middle
}

.skills li,.socials li {
    background: #f5f5f5;
    padding: 8px 12px;
    display: inline-block;
    margin-bottom: 10px
}

.socials li {
    width: 100px;
    border-radius: 6px;
    margin-right: 10px;
    transition: background .3s
}

.socials li:hover {
    background: #e0e0e0
}

.socials a:hover,a {
    text-decoration: none
}

address {
    font-style: normal
}

.skills i,a {
    color: #0055d4
}

.skills i {
    margin-right: 8px;
    font-size: 18px
}

.skills li {
    width: 104px;
    border-radius: 5px;
    margin-right: 6px
}